* {
    border: none;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    color: black;
    text-align: center;
    font-family: $default-family;
    font-size: 16px;
}

.form {
    background-color: indigo;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

a {
    display: block; 
    color: black;
    // text-decoration: none; 
    margin: 1rem 0;
}

.new-message {
    padding: 10px;
    background-color: indigo;
    color: wheat;
    border-radius: 8px;
    float: left;
    clear: both;
}

.my-message {
    background-color: darkgreen;
    float:right;
}

textarea {
    border: 1px solid indigo;
}