* {
    border: none;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    
    text-align: center;
    font-family: $main-font;
    font-size: 16px;
    
}

.hidden {
    display: none;
}

.index-container, .chat-container {
    color: white;
    height: 100vh;
    background-color: #020010;
    overflow: hidden;
    // background: rgb(2,0,16);
    // background: -moz-linear-gradient(90deg, rgba(2,0,16,1) 0%, rgba(9,34,101,1) 100%);
    // background: -webkit-linear-gradient(90deg, rgba(2,0,16,1) 0%, rgba(9,34,101,1) 100%);
    // background: linear-gradient(90deg, rgba(2,0,16,1) 0%, rgba(9,34,101,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020010",endColorstr="#092265",GradientType=1);
}


.title-box {
    width: 100%;
    padding-top: 100px;

    h1 {
        font-family: 'Fjalla One', arial, sans-serif;
        font-size: 3rem;
        letter-spacing: 4px;
    }
    
    h4 {
        font-family: $default-family;
        font-weight: 300;
    }
}

.form-container {
    height: 500px;
    // background-color: indigo;
    background: url(../images/mafia-p.svg) no-repeat center;
    position: relative;
}

.form {
    // background-color: indigo;
    width: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

    h2 {
        text-align: left;
    }
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #6c6c8f;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        letter-spacing: 0px;
        color: #6c6c8f;
        font-size: 16px;
        font-family: $default-family;
    }

}

.join {
    border: none;
    padding: 2px;
    color: #6c6c8f;
    font-size: 16px;
    font-family: $main-font;
    margin-top: 20px;
}

a {
    display: block; 
    color:#6c6c8f;
    background-color: white;
    padding: 2px;
    // text-decoration: none; 
    margin-top: 5rem;
}

/* chat */

.type, .new-message {
    padding: 8px 8px 8px 40px;
    background-color: #02b2b4;
    color: white;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    margin-left: 8px;
    margin-bottom: 8px;
    max-width: 60%;
    text-align: right;
    float: left;
    clear: both;

    h4 {
        color:#092265;
    }
}

.chat-title {
    margin: 20px;
}

.my-message {
    background-color: #092265;
    float:right;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    padding: 8px 40px 8px 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    max-width: 60%;
    text-align: left;
    h4 {
        color: #ff5571;
    }
}

textarea {
    padding: 10px;
    width: 70%;
    /* border: 1px solid indigo; */
    overflow: auto;
    resize: none;
    bottom: 0;

    &::placeholder {
        letter-spacing: 0px;
        color: #6c6c8f;
        font-size: 16px;
        font-family: $default-family;
    }
}

.chat-container {
    overflow-y: auto;
}

.col-container {
    background: url(../images/slient-left.svg) no-repeat center;
    height: 600px;
}

.message-wrapper {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.send {
    font-family: $main-font;
    font-size: 16px;
    float: right;
    padding: 20px;
    float: right;
    /* background: url(../images/eye.svg) no-repeat center; */
    font-size: 16px;
    /* margin-top: 12px; */
    margin: 5PX 5PX 5PX 5PX;
}

article {
    p {
        font-size: 16px;
        font-family: $default-family;
        font-weight: 300;
    }

    span {
        font-size: 12px;
        font-family: $default-family;
    }
}