* {
    border: none;
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    
    text-align: center;
    font-family: $main-font;
    font-size: 16px;
    
}

.index-container {
    color: white;
    height: 100vh;
    background-color: #020010;
    overflow: hidden;
    // background: rgb(2,0,16);
    // background: -moz-linear-gradient(90deg, rgba(2,0,16,1) 0%, rgba(9,34,101,1) 100%);
    // background: -webkit-linear-gradient(90deg, rgba(2,0,16,1) 0%, rgba(9,34,101,1) 100%);
    // background: linear-gradient(90deg, rgba(2,0,16,1) 0%, rgba(9,34,101,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020010",endColorstr="#092265",GradientType=1);
}


.title-box {
    width: 100%;
    padding-top: 100px;

    h1 {
        font-family: 'Fjalla One', arial, sans-serif;
        font-size: 3rem;
        letter-spacing: 4px;
    }
    
    h4 {
        font-family: $default-family;
        font-weight: 300;
    }
}

.form-container {
    height: 500px;
    // background-color: indigo;
    background: url(../images/mafia-p.svg) no-repeat center;
    position: relative;
}

.form {
    // background-color: indigo;
    width: 300px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #6c6c8f;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        letter-spacing: 0px;
        color: #6c6c8f;
        font-size: 16px;
        font-family: $default-family;
    }

}

.join {
    border: none;
    padding: 2px;
    color: #6c6c8f;
    font-size: 24px;
    font-family: $main-font;
    margin-top: 20px;
}

a {
    display: block; 
    color:white;
    // text-decoration: none; 
    margin-top: 5rem;
}

.new-message {
    padding: 10px;
    background-color: indigo;
    color: wheat;
    border-radius: 8px;
    float: left;
    clear: both;
}

.my-message {
    background-color: darkgreen;
    float:right;
}

textarea {
    border: 1px solid indigo;
}